body {
  background-color: #222930;
}

.navtitle {
  color: #e9e9e9;
}

#title {
  margin-top: 10%;
}

h2 {
  margin-left: 120px;
  margin-right: 80px;
  color: #e9e9e9;
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
  font-family: lato;
}

#main_pic {
  color: #983214;
  width: 70%;

}

h3 {
  margin-left: 120px;
  margin-right: 80px;
  color: #e9e9e9;
  font-size: 30px;
  font-family: lato;
}

.navbar {
  width: 100%;
  background-color: #122930;
}

h1 {
  margin-top: 10%;
  color: #4eb1ba;
  font-family: montserrat;
  margin-left: 550px;
  font-size: 45px;
}

h4 {
  color: #4eb1ba;
  margin-right: 500px;
  margin-top: -21%;
  font-size: 45px;
  font-family: montserrat;
}

#quit {
  background-color: #122930;
  color: #e9e9e9;
}
