<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.css"/>
<link rel="stylesheet" href="/css/background.css">
<script type="text/javascript" src="/js/background/background.js"></script>
<div ng-controller="BackgroundCtrl" id='background_ctrl'>
    <div class="background_container">
        <div class="background_header">Choose a background image for your collage</div>
        <div class="backgrounds_div" slick-slider>
            <div ng-repeat='background in background_images'>
                <img ng-src='{{background.source}}' class='backgrounds' alt='{{background.name}}' />
            </div>
        </div>
    </div>

    <div>
        <input type="button" class="button centered" ng-click='selectBackground()' value="Select">
    </div>
</div>
