<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
  <head>
      <title>P.I.C. Your Future</title>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/PictureYourself.css"/>
      <link rel="stylesheet" type="text/css" href="css/layout.css"/>
      <link rel="stylesheet" href="css/libraries/animate.min.css">
      <link rel="stylesheet" href="css/index.css">

      <link rel="stylesheet" type="text/css" href="css/comic-create.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body background = 'http://i.imgur.com/P3urdLb.png'>
    <!-- Ajani's work -->


      <!-- ViewCtrl implemented in snapshot.js -->
      <div id='snapshot_view'>
        <div id='snapshot_ctrl'>

          <!-- Should probably set a height for this and adjust the rest -->
          <div id='snapshot_div'>
            <!-- Change Logo-->

            <div class = 'row' style = 'margin-top: 10%;'>


                <div class = 'col-md-12' id = 'html-table'>


                  <!--  -->
                  <!-- <div class = 'textBox_title'>
                    <p contenteditable="true"> Title Yo Comic, Son </p>
                   </div> -->


                    <% @comic.collages.order("position ASC").each_slice(2) do |c1, c2| %>
                      <div class="row">
                        <div class="col-md-2 col-md-offset-4">
                          <% if c1.present? %>
                            <img src="<%= c1.file_path %>" style="width:200px;" />
                          <% end %>
                        </div>

                        <div class="col-md-6">
                          <% if c2.present? %>
                            <img src="<%= c2.file_path %>" style="width:200px;" />
                          <% else %>
                            <a href="/career">
                              <img class = 'plus' style="width: 150px;" src = 'http://i.imgur.com/Pcb0b2B.png'>
                            </a>
                          <% end %>
                        </div>
                      </div>
                    <% end %>

                    <% if [2, 4].include?(@comic.collages.count) %>
                      <div class="row">
                        <div class="col-md-2 col-md-offset-4">
                          <a href="/career">
                            <img class = 'plus' style="width: 150px;" src = 'http://i.imgur.com/Pcb0b2B.png'>
                          </a>
                        </div>

                        <div class="col-md-6">
                          <a href="/career">
                            <img class = 'plus' style="width: 150px;" src = 'http://i.imgur.com/Pcb0b2B.png'>
                          </a>
                        </div>
                      </div>
                    <% end %>




                </div>




            </div>
          </div>

            <!-- snapshot_buttons -->

            <div class = 'finish_div' style="margin-top: 100px;">
              <input type="button" id='finish' class = 'button' value="FINISH" ng-click="finishComic(<%= @comic.id %>)">
            </div>
          </div>
        </div>
      </div>

    </div> <!-- End of LayoutCtrl-->
  </body>

</html>
