<html no-js>

	<head>
		<script type="text/javascript" src="../public/js/modernizr-latest.js"></script>
		<script type="text/javascript" src="../public/js/app.js">

		</script>


	</head>

<body>


	<div id="compat">
		<div style="visibility:hidden; width:636px; height:69px; border:1px solid">
			The browser you are using does not support all the features of this app.
			Please switch to a modern browser such as
			<a href="http://www.google.com/chrome">Chrome</a>
			.
		</div>
	</div>
	<div id="test">
	</div>



	<script type="text/javascript">
		checkCompatibility();
	</script>
</body>


</html>