<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/feed.css">

<div class="feed">
  <h1 style="text-align: center;">Feed</h1>
  <span>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: eman</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>

  </span>
  <span>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: eman</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf">created by user: fran</div>
  </span>
</div>
