<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/feed.css">

<div class="feed" ng-controller="comicCtrl", comics = <%= @comics.to_json(:include => { :user => {:only => [:name]}, :collages => {:methods => [:file_path]} } ) %>>
  <div class ="row">
    {{$scope.comic}}
    <div class="col-md-12 text-center">
      <h1>
        Comic created by {{comic.user ? (comic.user.name ? comic.user.name : "a user") : "a user"}}
      </h1>

      <table class="table table-bordered">

        <tr ng-repeat = "collage in comic.grouping">
          <td style="width: 50%;">
            <img ng-src="{{collage[0].file_path}}" style="width:600px;" />
          </td>
          <td style="width:50%;">
            <img ng-src="{{collage[1].file_path}}" style="width:600px;" />
          </td>
        </tr>
      </table>



    </div>
  </div>

</div>
