
<div ng-controller='UploadController'>
	
	
	<!-- CLICK FILE UPLOAD -->
        <input type="file" ng-file-select="onFileSelect($files)" >

	<div id="container"></div>
	
	<button ng-click='upload()'>Cut</button>
<!-- END OF CLICK FILE UPLOAD -->
   </div>

