<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.simplecolorpicker.css">
<link rel="stylesheet" type="text/css" href="/css/scenario.css">
<link rel="stylesheet" type="text/css" href="/css/chroma.min.css" />

<script src="/js/index/snapshot.js"></script>
<script src='/js/index/upload.js'></script>
<script src='/js/index/webcam.js'></script>
<script type="text/javascript" src='/js/scenario/timeout.js'></script>
<script type="text/javascript" src='/js/scenario/tabs.js'></script>
<script type="text/javascript" src='/js/libraries/jquery/jquery.colorPicker.min.js'></script>
<script type="text/javascript" src="/js/libraries/jquery/jquery.simplecolorpicker.js"></script>
<script type="text/javascript" src="/js/scenario/factories.js"></script>
<script type="text/javascript" src="/js/scenario/scenario_helpers.js"></script>
<script type="text/javascript" src='/js/scenario/email.js'></script>
<script type="text/javascript" src='/js/scenario/scenario.js'></script>

<div ng-controller="ViewCtrl">
    <div ng-show='views.snapshot'>
        <%= erb :snapshot %>
    </div>

    <div ng-show='views.scenario'>
        <%= erb :scenario %>
    </div>
</div>