<link rel="stylesheet" href="/css/libraries/animate.min.css">
<link rel="stylesheet" href="/css/index.css">

<div id='snapshot_div'>
  <div id='camera_placeholder' class='centered' ng-hide='camera_loaded'>
      <img id='cam_icon' src='images/img/camera_placeholder.png' ng-click='get_tos()'>
  </div>

  <div id='snapshot_button_div' class='centered'>
      <input type="button" class="button" ng-click='get_tos()' value="START">
  </div>

</div>
