'Hello World'
<div ng-controller='UploadController'>
<form>
        <input type="file" ng-file-select="onFileSelect($files)" >

	<div id="container"></div>
	
	<button ng-click='upload()'>Cut</button>
	
   </div>

