<link rel="stylesheet" href="/css/libraries/animate.min.css">
<link rel="stylesheet" href="/css/index.css">

<link rel="stylesheet" type="text/css" href="css/landing.css"/>

<div id='snapshot_div'>
  <div id='camera_placeholder' class='centered' ng-hide='camera_loaded'>
      <img id='cam_icon' src='images/img/camera_placeholder.png' ng-click='get_tos()'>
  </div>

  <div id='snapshot_button_div' class='centered'>
      <input type="button" class="button" ng-click='get_tos()' value="START">
  </div>


  <!-- Emans Work -->
  <div id="about-site"><a href="about-site" class="smoothScroll"></a>
    <div class="row">
      <div class="col-md-4">
        <img id="User_ex" src="/images/User.png" alt="user">
        <h1 style="text-align: center;">Joe the Plumer</h1>
        <p><h2 style="text-align: center;">&#34;BEST APP EVER. Helped me envision my self being a plumer.&#34;</h2></p>
      </div>
      <div class="col-md-4">
        <img id="User_ex" src="/images/User3.png" alt="user">
        <h1 style="text-align: center;">Jill Student</h1>
        <p><h2 style="text-align: center;">&#34;This App Helped. Made a comic in highschool and now I am a junior in college&#33;&#33;&#33;&#34;</h2></p>

      </div>
      <div class="col-md-4">
        <img id="User_ex" src="/images/User2.png" alt="user">
        <h1 style="text-align: center;">Jason Fresshman in College</h1>
        <p><h2 style="text-align: center;">&#34;This App Chill&#32;&#34;</h2></p>
       </div>
    </div>
  </div>

  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <!-- End -->

</div>
