<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/index.css">

<script src="/js/index/snapshot.js"></script>
<script src='/js/index/upload.js'></script>
<script src='/js/index/webcam.js'></script>

<div ng-controller="ViewCtrl">
    <div ng-show='views.snapshot'>
        <%= erb :snapshot %>
    </div>

    <div ng-show='views.scenario'>
        <%= erb :scenario %>
    </div>

    <div ng-show="views.background">
        <%= erb :background %>
    </div>
</div>