<link rel="stylesheet" href="/css/libraries/animate.min.css">
<link rel="stylesheet" href="/css/index.css">

<!-- Putting this at the top allows the / page to load properly -->
<script src="/js/index/snapshot.js"></script>
<script src='/js/index/upload.js'></script>
<script src='/js/index/webcam.js'></script>

<!-- ViewCtrl implemented in snapshot.js -->
<div ng-controller="ViewCtrl">
    <div ng-show='views.snapshot' id='snapshot_view'>
      <div ng-controller="SnapshotCtrl" id='snapshot_ctrl'>

          <!-- Should probably set a height for this and adjust the rest -->
          <div id='snapshot_div'>
              <!-- Starting Image -->
              <div id='camera_placeholder' class='centered' ng-hide='camera_loaded'>
                  <img id='cam_icon' src='images/img/camera_placeholder.png' ng-click='get_tos()'>
              </div>

              <!-- Webcam Input -->
              <div id='camera' ng-show='show_camera && camera_loaded' class='centered'>
                  <video autoplay id='video'></video>
                  <canvas id='cam_canvas' width = "640px" height = "480px"></canvas>
              </div>

              <!-- snapshot_buttons -->
              <div id='snapshot_button_div' class='centered' ng-show='show_buttons'>
                  <input type="button" class="button" ng-click='get_tos()' value="START" ng-show='snapshot_button.start'>
              </div>

          </div> <!-- snapshot_div -->

      </div> <!-- Snapshot Controller -->
    </div>

</div>
