'Picture Yourself'
<div ng-controller="UIDCtrl">
	<!-- <div ng-controller='UploadController'> -->

	<form id='pic-upload'>
			
			<div>
				<video autoplay></video>

				<br>
				<canvas style="display:none;" width = "640px" height = "640px"></canvas>
			</div>

			<div>
				
				<script>
					hasGetUserMedia()
				</script>
				
				<br/>

				<input type="button" onclick="getUserMedia()" value = "Snapshot!">
				<input type="button" id = "button" value = "Capture">
			</div>
			
				<div ng-hide='true'>
					<img src="" id='snapshot'>
				</div>
			
				<button ng-click='upload_webcam()'>Webcam upload</button>
		</form>
	
	
		<!-- START OF CLICK FILE UPLOAD -->
	
	        <!--<input type="file" ng-file-select="onFileSelect($files)" > -->

		<div id="container"></div>
	
		<button ng-click='cut()'>Cut</button>
		
	   <!-- END OF CLICK FILE UPLOAD -->

  	<!--</div> --> <!-- UploadController -->

</div> <!-- UIDCtrl -->

