<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/index.css">

<script src="/js/index/snapshot.js"></script>
<script src='/js/index/upload.js'></script>
<script src='/js/index/webcam.js'></script>

<div ng-controller="ViewCtrl">
    <div ng-show='views.snapshot' id='snapshot_view'>
        <%= erb :snapshot %>
    </div>

    <div ng-show="views.background" id='background_view'>
        <%= erb :background %>
    </div>

    <div ng-show='views.scenario' id='scenario_view'>
        <%= erb :scenario %>
    </div>
</div>