'Picture Yourself'
<div ng-controller="UIDCtrl"> <!-- UIDCtrl -->
	<!-- <div ng-controller='UploadController'> -->

	<form id='pic-upload'>
			
			<div style="float:left;width:640;height:480;">
				<video autoplay></video>

				<br>
				<canvas style="display:none;" width = "640px" height = "480px"></canvas>
			</div>

			<div>
				
				<script>
					hasGetUserMedia()
				</script>
				
				

			
			</div>
			

			
				<!-- <button ng-click='upload_webcam()'>Webcam upload</button> -->
			

	
	
		<!-- START OF CLICK FILE UPLOAD -->
	
	        <!--<input type="file" ng-file-select="onFileSelect($files)" > -->

		<div id="container" style='float: right; width:640; height:480;'></div>
		<input type="button" onclick="getUserMedia()" value = "Snapshot!" style='display:block'>
		<input type="button" id = "button" value = "Capture" style='display:block'>
		<button ng-click='upload_webcam()' style='display:block'>Cut</button>

	</form>

	<div ng-hide='true'>
		<img src="" id='snapshot' style="float: left;">
	</div>
	   <!-- END OF CLICK FILE UPLOAD -->

  </div>
<!--</div> --> <!-- UploadController -->



