<div ng-controller='StickerCtrl'>
	
	<div id='left_panel'>
		
		<div id='user_stickers'>
	
		</div> <!-- end user_stickers -->
		
		<div id='tabs'>
			
			<div id='backgrounds'>
		
			</div> <!-- end background -->
			
			<div id='stickers'>
				
			</div> <!-- end stickers -->
		</div> <!-- end tabs -->
	</div> <!-- end left_panel -->

	<div id='right_panel'>
		<div id="working_space">
			
			<canvas id='container'></canvas>
			
		</div> <!-- end working_space -->
	</div> <!-- end right_panel -->
	
	
	
	
	
	
</div> <!-- END OF StickerCtrl -->