<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
	<head>
		<title>Picture Yourself</title>

		<link rel="stylesheet" type="text/css" href="/css/PictureYourself.css"/>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

		<script src='/js/modernizr-latest.js'></script>

		<script src='/js/jquery-2.0.3.min.js'> </script>
		<script src='/js/angular.min.js'> </script>
		<script src='/js/angular-resource.min.js'></script>
		<!-- <script src='/js/kinetic-v4.7.2.min.js'></script>-->
		<script src='/js/kinetic-v4.7.4.js'></script>


		<script src='/js/helpers.js'></script>

		<script> var app = angular.module('PictureYourselfApp', ['ngResource']); </script>
		<script src='/js/upload.js'></script>

		<script src='/js/PictureYourself.js'></script>
		<script src='/js/webcam.js'></script>

		<script src='/js/compatibility.js'></script>
		<script type="text/javascript">checkCompatibility();
		</script>
	</head>

	<body  style='background-color: #E8E8E7; min-width: 1000px;'>
		<div id="compatibility" style="visibility:hidden; width:636px; border:1px solid"> <!--height:69px; removed -->
		</div>
		<div ng-controller='LayoutCtrl'>
			<div class="outside"> <!--container-->
			 <nav class="navbar navbar-default navbar-fixed-top" style='height: 50px; background: #242941;' role="navigation">
			      <a href="/" class="navbar-link"><img class='navbaricon' alt='Home' src='/images/img/new_home.png'></a>
			      <a  class="navbar-link"><img class='navbaricon' alt='Picture Yourself Logo' src='/images/img/new_logo.png'></a>
			      <p class="nav-adjust-right">
			      <a  class="navbar-link"><img class='navbaricon' alt='Take picture' src='/images/img/new_cam.png'></a>
			      <a  class="navbar-link"><img class='navbaricon' alt='Notification'  src='/images/img/new_notification.png'></a>
			      <a  class="navbar-link"><img class='navbaricon' alt='Settings'  src='/images/img/new_config.png'></a>
			      </p>
		     <div class="row signout">
		    	<span>SIGN OUT</span>
		     </div> <!--signout-->
			 </nav>
			</div> <!--outside-->
				<%= yield %>
		</div> <!-- End of LayoutCtrl-->
	</body>

<html>
