<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
    <head>
        <title>P.I.C. Your Future</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/libraries/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/libraries/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/PictureYourself.css"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.css"/>

        <script type="text/javascript" src='/js/libraries/modernizr/modernizr-latest.js'></script>
        <script type="text/javascript" src='/js/libraries/jquery/jquery-2.1.3.min.js'> </script>
        <script type="text/javascript" src='/js/libraries/bootstrap/bootstrap.min.js'></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
        <script type="text/javascript" src='/js/libraries/angular/angular-resource.min.js'></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script type="text/javascript" src='/js/libraries/kinetic/kinetic-v5.1.0.min.js'></script>
        <script type="text/javascript" src='/js/helpers.js'></script>
        <script type="text/javascript" src='/js/libraries/crop.js'></script>        
        <script type="text/javascript" src='/js/cookie.js'></script>
        <script type="text/javascript" src="/js/layout/layout.js"></script>
        <script type="text/javascript" src='/js/compatibility.js'></script>
    </head>

    <body>
        <div id="compatibility"></div>
        <div ng-controller='LayoutCtrl'>
            <div class="outside"> 
                <nav class="navbar" role="navigation">

                    <div class="navleft">
                        <img class='navbariconleft' alt='Home' src='/images/img/new_home.png'>
                    </div>
                    <!-- <a class="navbar-link"><img class='navbariconleft' alt='Picture Yourself Logo' src='/images/img/new_logo.png'></a> -->
                    <div class="navtitle">PIC YOUR FUTURE</div>

                    <div id="navright">
                        <div class="quit_div" ng-show='show_quit'>
                            <input type='button' id='quit' class='button' ng-click='quit()' value = "QUIT">
                        </div>
                    </div> <!--navright-->
                </nav>
            </div> <!--outside-->

            <%= yield %>

        </div> <!-- End of LayoutCtrl-->
    </body>

</html>
