<!DOCTYPE html>
<html ng-app='PictureYourselfApp'>
	<head>	
		<title>Picture Yourself</title>
		<script src='/js/jquery-2.0.3.min.js'> </script>
		<script src='/js/angular.min.js'> </script>
		<script src='/js/angular-resource.min.js'></script>
		<script src='/js/PictureYourself.js'></script>

		
	</head>
	
	<body>
		<div ng-controller='LayoutCtrl'>
			
			<%= yield %>
			
		</div> <!-- End of LayoutCtrl>
	</body>
	
</html>