<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
    <head>
        <title>PIC Your Future</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/libraries/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/css/libraries/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/PictureYourself.css"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.css"/>

        <script type="text/javascript" src='/js/libraries/modernizr/modernizr-latest.js'></script>
        <script type="text/javascript" src='/js/libraries/jquery/jquery-2.1.3.min.js'> </script>
        <script type="text/javascript" src='/js/libraries/bootstrap/bootstrap.min.js'></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script type="text/javascript" src="http://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
        <script type="text/javascript" src='/js/libraries/angular/angular-resource.min.js'></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
        <script type="text/javascript" src='/js/cookie.js'></script>
        <script type="text/javascript" src="/js/layout/layout.js"></script>
        <script type="text/javascript" src='/js/compatibility.js'></script>
    </head>

    <body background = 'http://i.imgur.com/P3urdLb.png'>
        <script>
    $( document ).ready(function() {
      $('.navicon').on('click', function(){
        $('.mainNavDropDown').slideToggle(500);
       });
   });
 </script>

        <div id="compatibility"></div>
        <div ng-controller='LayoutCtrl'>
            <div class="outside">
                <nav class="navbar" role="navigation">

          <a href="/">
            <img id = 'logo' src = 'http://i.imgur.com/ENFluBk.png'>
              <div class="navtitle" > PIC YOUR FUTURE</div>
              <div class = 'tabs'>
                <!-- no longer needed -->
                <a href = 'ph' > <li class = "navytabby" id = 'feed'>  </li> </a>
                <a href = 'ph' > <li class = "navytabby" id = 'about'>   </li> </a>
            </div>
          </a>
          <!-- ^^^^ -->


          <div id="navright">
            <div class="login_div">
              <% if @current_user.present? %>
                <input type='button' id='login' class='button' ng-click='logout()' value = "LOGOUT">
              <% else %>
                <input type='button' id='login' class='button' ng-click='login()' value = "LOGIN">
              <% end %>
          </div>
          <div class = "mainNav clearfix">
            <p class = "navicon">&#9776;</p>
           </div>
           <ul class = "mainNavDropDown clearfix">
             <li><a href="/">Home</a></li>
             <li><a href="/#middle">About</a></li>
             <li><a class="feeds" href="/feed">Feed</a></li>
             <li><a href="/license">License</a></li>
             <li><a class="typeform-share" href="https://contactpic.typeform.com/to/DFlXHT" data-mode="1" target="_blank">Contact</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</li>
           </ul>
        </div>
        </nav>
            </div> <!--outside-->

            <%= yield %>

        </div> <!-- End of LayoutCtrl-->
    </body>

</html>
