<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
    <head>

        <title>P.I.C. Your Future</title>

        <link rel="stylesheet" type="text/css" href="/css/PictureYourself.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/layout.min.css"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <script src='/js/libraries/modernizr/modernizr-latest.js'></script>
        <script src='/js/libraries/jquery/jquery-2.0.3.min.js'> </script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src='/js/libraries/angular/angular.min.js'> </script>
        <script src='/js/libraries/angular/angular-resource.min.js'></script>
        <script src='/js/libraries/kinetic/kinetic-v4.7.4.js'></script>
        <script src='/js/helpers.js'></script>
        <script src='/js/libraries/crop.js'></script>

        <script type="text/javascript">
            var app = angular.module('PictureYourselfApp', ['ngResource']);
        </script>
        
        <script src='/js/cookie.min.js'></script>
        <script src="/js/layout/layout.min.js"></script>
        <script src='/js/compatibility.min.js'></script>

    </head>

    <body>
        <div id="compatibility"></div>
        <div ng-controller='LayoutCtrl'>
            <div class="outside"> 
                <nav class="navbar" role="navigation">

                    <a href="/" class="navbar-link"><img class='navbariconleft' alt='Home' src='/images/img/new_home.png'></a>
                    <a  class="navbar-link"><img class='navbariconleft' alt='Picture Yourself Logo' src='/images/img/new_logo.png'></a>

                    <div id="navright">
                        <div class="navtoleft">
                            <a  class="navbar-link" href="/"><i class="fa fa-camera navbariconright" id='navcam'></i></a>
                        </div>

                        <div class="navtoleft">
                            <a  class="navbar-link"><i class="fa fa-bell navbariconright"></i></a>
                        </div>

                        <div class="navtoleft" id='hamburger'>
                            <i class="fa fa-bars navbariconright"></i>

                            <div id="dropdown">
                                <ul id="nav-list">
                                  <li><a class="nav-link" href="/">
                                        <div class="nav-button">Take Selfie</div>
                                    </a>
                                </li>
                                  <li><a class="nav-link" href="/selfie">
                                        <div class="nav-button">A Year at Cal</div>
                                    </a>
                                </li>
                                  <li><a class="nav-link" href="#">
                                        <div class="nav-button">Gallery</div>
                                    </a>
                                </li>
                                </ul>
                            </div> <!--dropdown-->
                        </div> <!--hamburger-->
                    </div> <!--navright-->
                </nav>
            </div> <!--outside-->

            <%= yield %>

        </div> <!-- End of LayoutCtrl-->
    </body>

</html>
