<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/libraries/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/libraries/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/PictureYourself.css"/>
<link rel="stylesheet" type="text/css" href="css/layout.css"/>
<link rel="stylesheet" href="css/libraries/animate.min.css">
<link rel="stylesheet" href="css/index.css">

<link rel="stylesheet" type="text/css" href="css/login.css"/>

<body>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="well">
        <%= styled_flash %>
      </div>

      <div class="text-center">
        <h1>
          Your comic strips
        </h1>
        <% if @comics.count == 0 %>
          <p>You have no comics!</p>
          <a href="/career" class="btn btn-success btn-lg">
            Create one now!
          </a>
        <% else %>
          <a href="/career" class="btn btn-success btn-lg" style="margin-bottom: 20px;">
            Create one now!
          </a>
          <% @comics.each do |c| %>

            <% c.collages.order("position ASC").each_slice(2) do |c1, c2| %>
              <div class="row">
                <div class="col-md-6">
                  <% if c1.present? %>
                    <img src="<%= c1.file_path %>" style="width:200px;" />
                  <% end %>
                </div>

                <div class="col-md-6">
                  <% if c2.present? %>
                    <img src="<%= c2.file_path %>" style="width:200px;" />

                  <% end %>
                </div>
              </div>

            <% end %>

            <hr style="border: 1px solid black;">


          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
