
 <body style='background-color: #E8E8E7; min-width: 1000px;'>
    <link rel="stylesheet" type="text/css" href="/css/scenario.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src='/js/scenario.js'></script>
    <!-- <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script> -->

 <div ng-controller='ScenarioCtrl' >
 <p>
      <a href="#" class="navbar-link"><img class='navbaricon' alt='Home' src='/images/img/new_home.png'></a>
      <a href="#" class="navbar-link"><img class='navbaricon' alt='Picture Yourself Logo' src='/images/img/new_logo.png'></a>
      </p>
      <p class="nav-adjust-right">
      <a href="#" class="navbar-link"><img class='navbaricon' alt='Take picture' src='/images/img/new_cam.png'></a>
      <a href="#" class="navbar-link"><img class='navbaricon' alt='Notification'  src='/images/img/new_notification.png'></a>
      <a href="#" class="navbar-link"><img class='navbaricon' alt='Settings'  src='/images/img/new_config.png'></a>
      </p>
    </nav>
  <div class="row signout">
    <span>SIGN OUT</span>
  </div>

  <div class="tabs">
    <a data-toggle="tab1"><img src="/images/img/stickers.png" width="50"></a>
    <a data-toggle="tab2"><img src="/images/img/backgrounds.png" width = "50"></a>
    <a data-toggle="tab3"><img src="/images/img/filters.png"></a>
    <a data-toggle="tab4"><img src="/images/img/borders.png"></a>
  </div>

  <div class="tabContent">
    <div id="tab1" >
      <h3> Your selfie!</h3>
      <img class='sticker' id='selfie' src='' >

      <h3>Stickers</h3>

    </div>

    <div id="tab2">
      <h3>Backgrounds</h3>
      <img class = 'background' id='back1' src="/images/Rec1.jpg">
      <img class = 'background' id='back2' src="/images/Rec2.jpg">
      <img class = 'background' id='back3' src="/images/Rec3.jpg">
      <img class = 'background' id='back4' src="/images/Rec4.jpg">
      <img class = 'background' id='back5' src="/images/Rec5.jpg">
      <img class = 'background' id='back6' src="/images/Rec6.jpg">
      <img class = 'background' id='back7' src="/images/Rec7.jpg">
      <img class = 'background' id='back8' src="/images/Rec8.jpg">
      <img class = 'background' id='back9' src="/images/Rec9.jpg">
    </div>

    <div id="tab3">

      <div id='filter_div'>

        Blur: <input id="blur_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Grey: <input id="grey_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Sepia: <input id="sepia_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Saturate: <input id="saturate_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Invert: <input id="invert_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Opacity: <input id="opacity_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Bright: <input id="bright_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

        Contrast: <input id="contrast_slider" type="range" min="0" max="40" step="1" value="0" class='slider'>

      </div>

      <div id='reset_div'>
        <input class = 'filter' id = 'reset_plus' type='button' value = '-'>Reset<input id='reset_minus' type='button' value='+'>
      </div>

    </div>

    <div id="tab4">
      <h3>Frames</h3>
    </div>

  </div>

  <div id = "container" >
  </div><!-- KineticJS Canvas -->

<div id='save_div'>
  <button type='button' id='save' ng-click='create_image()'>Save as image</button>
</div>


</body>


