<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/scenario.css">
<meta charset=utf-8 />
</head>
<body >

  <div class="tabs">
    <a data-toggle="tab1">Stickers</a>
    <a data-toggle="tab2">Backgrounds</a>
    <a data-toggle="tab3">Filters</a>
    <a data-toggle="tab4">Frames</a>
  </div>

  <div class="tabContent">
    <div id="tab1" >
      <h3> Your selfie!</h3>
      <input type="image"class='sticker' id='selfie' src='' >

      <h3>Stickers</h3>
      <input type="image"class='sticker' src="/images/toolbox/beehive.png">
      <input type="image"class = 'sticker' src="/images/toolbox/calshadesblack.png">
      <input type="image"class = 'sticker' src="/images/toolbox/calshadesred.png">
      <input type="image"class = 'sticker' src="/images/toolbox/capO.png">
      <input type="image"class = 'sticker' src="/images/toolbox/clown-nose-with-glasses-hi.png">
      <input type="image"class = 'sticker' src="/images/toolbox/FlagOS.png">
      <input type="image"class = 'sticker' src="/images/toolbox/sweater.png">
      <input type="image"class = 'sticker' src="/images/toolbox/sweaterP.png">
      <input type="image"class = 'sticker' src="/images/toolbox/sweaterG.png">
      <input type="image"class = 'sticker' src="/images/toolbox/PinT.png">
      <input type="image"class = 'sticker' src="/images/toolbox/PinC1.png">
      <input type="image"class = 'sticker' src="/images/toolbox/PinO1.png">
    </div>

    <div id="tab2">
      <h3>Backgrounds</h3>
      <input type="image"class = 'background' id='back1' src="/images/Rec1.jpg">
      <input type="image"class = 'background' id='back2' src="/images/Rec2.jpg">
      <input type="image"class = 'background' id='back3' src="/images/Rec3.jpg">
      <input type="image"class = 'background' id='back4' src="/images/Rec4.jpg">
      <input type="image"class = 'background' id='back5' src="/images/Rec5.jpg">
      <input type="image"class = 'background' id='back6' src="/images/Rec6.jpg">
      <input type="image"class = 'background' id='back7' src="/images/Rec7.jpg">
      <input type="image"class = 'background' id='back8' src="/images/Rec8.jpg">
      <input type="image"class = 'background' id='back9' src="/images/Rec9.jpg">
    </div>

    <div id="tab3">
      <h3>Filters</h3>
    </div>

    <div id="tab4">
      <h3>Frames</h3>
    </div>

  </div>

  <div id = "scenario" >

  </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="/js/scenario.js"></script>
  <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
  <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.4.min.js"></script>

</body>
</html>


<!--http://code-tricks.com/create-a-simple-html5-tabs-using-jquery/-->
