<div ng-controller='ScenarioCtrl' id='scenario_ctrl'>

    <div class="row" id='framecontainer'>
        <div class='title'>
            <input type="text" class="title_text" ng-model ='title' ng-init="title='untitled'">
        </div>

        <div id='toolbox'>
            <div ng-controller='TabsCtrl'>

                <div class="tabs">
                    <ul class="nav nav-tabs" id='toolicon'>
                        <li class="active tab" ng-click='show_tab("stickers")'> <img src="/images/img/stickers.png" ></li>
                        <li class = 'tab' ng-click='show_tab("backgrounds")'> <img src="/images/img/backgrounds.png" ></li>
                        <li class = 'tab' ng-click='saveToGallery()'>
                            <i class="fa fa-cloud-upload"></i>
                        </li>
                        <li class = 'tab' ng-click='call_email()'>
                            <i class="fa fa-envelope"></i>
                        </li>
                    </ul>
                </div> <!-- Tabs -->

                <div class='tabContent' id='toolboxbody'>

                    <div id="sticker_tab" ng-show='tabs.stickers'>
                        <div id='selfie_div'>
                            <div class="subtab_title" id="faces">Faces</div>
                                <img ng-repeat='selfie in selfies' id='selfie{{selfie.count}}' class="sticker selfie" ng-src="/{{selfie.source}}" add-drag/>

                                <!-- Take another selfie button -->    
                                <input class='button' type='button' id='another_selfie_button' class='button' ng-click='add_selfie()' value = "Take Another Selfie">
                        </div>

                        <!-- Sticker category titles -->
                        <div ng-repeat-start='key in sticker_keys' id="{{key}}" class='subtab_title' ng-click="visible[key] = !visible[key]" end-of-adding-stickers>
                            {{categories[key]}}
                        </div>
                        
                        <!-- Sticker category content -->
                        <div ng-repeat-end id='{{key}}_content' class = 'animate-content content' ng-show='visible[key]'>
                            <img ng-repeat='sticker in stickers[key]' class="sticker {{key}}" ng-src="/{{sticker.source}}" name="{{sticker.name}}" data-chroma_green="{{sticker.chroma_green.toString()}}" add-drag/>

                        </div>

                    </div> <!-- #sticker_tab -->

                    <!-- Backgrounds 2-->
                    <div id="backgrounds_tab" ng-show='tabs.backgrounds'>
                        <h3 class="toolbox_text">Backgrounds</h3>
                        
                        <img ng-repeat= 'background in background_images' ng-src='{{background.source}}' class='background'   ng-click="background_update($event)" alt='{{background.name}}' />

                    </div>  <!-- backgrounds_tab -->


                </div><!--  Toolbox body -->
            </div> <!-- Tabs Ctrl-->

<!--         
            <div id="email_div">
                <input type='button' id='email' class='button' ng-click='call_email()' value = "EMAIL">
            </div>
            <div id="gallery_save_div">
                <input type="button" id="gallery_save" class="button" ng-click="saveToGallery()" value="SAVE">
            </div> -->
<!--             <div id="save_div">
                <input type="button" id='save' class='button' ng-click='save()' value= "SAVE" >
            </div> -->
   <!--           <div id="load_div">
                <input type="button" id='load' class='button' ng-click='load()' value= "LOAD" >
                <input type="text" ng-model='requested_scenario' ng-init="requested_scenario='untitled'">
            </div> -->
          

        </div> <!-- Toolbox -->


        <div id = "scenario_canvas">
            <div id = "container" ></div><!-- KineticJS Canvas -->
        </div>

        <div id="dialog-confirm-email" title="E-mail sent!"></div>
    </div> <!-- Framecontainer -->

    <div ng-show='loading' class='loader'>
        <span class="loader_helper"></span>
        <img src='images/img/loader.gif' class='loader_img'>
    </div>

    <!-- Color picker -->
      <div id='modal'>
        
        <!-- TODO These need to update from the server -->
        <select name="colorpicker">
            <option value="#ffdcb1"></option>
            <option value="#e5c298"></option>
            <option value="#e4b98e"></option>
            <option value="#e2b98f"></option>
            <option value="#e3a173"></option>
            <option value="#d99164"></option>
            <option value="#cc8443"></option>
            <option value="#c77a58"></option>
            <option value="#a53900"></option>
            <option value="#880400"></option>
            <option value="#710200"></option>
            <option value="#440000"></option>
            <option value="#ffe0c4"></option>
            <option value="#eecfb4"></option>
            <option value="#deab7f"></option>
            <option value="#e0b184"></option>
            <option value="#dfa675"></option>
            <option value="#be723c"></option>
            <option value="#a01900"></option>
            <option value="#5b0000"></option>
            <option value="#000000"></option>
            <option value="#ede4c8"></option>
            <option value="#efd6bd"></option>
            <option value="#eabd9d"></option>
            <option value="#e3c2ae"></option>
            <option value="#dfb997"></option>
            <option value="#d0926e"></option>
            <option value="#bd9778"></option>
            <option value="#bb6d4a"></option>
            <option value="#940a00"></option>
            <option value="#e1ada4"></option>
            <option value="#a58869"></option>
            <option value="#7b0000"></option>
            <option value="#720000"></option>
            <option value="#380000"></option>

        </select>


      <!-- Canvas to update color -->
      <!-- TODO possibly change width and height if images change -->
      <canvas id="color_change_canvas" width="120", height="120"></canvas>

    </div>

</div> <!-- ScenarioCtrl -->

