<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
  <head>
      <title>P.I.C. Your Future</title>
      <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates:700' rel='stylesheet' type='text/css'>
<!--       <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/PictureYourself.css"/>
      <link rel="stylesheet" type="text/css" href="css/layout.css"/>
      <link rel="stylesheet" href="css/libraries/animate.min.css"> -->
<!--       <link rel="stylesheet" href="css/index.css">
 -->
      <link rel="stylesheet" type="text/css" href="css/signup.css"/>
  </head>

  <body background="images/geometry2.png">
    <div id="compatibility"></div>
    <div ng-controller='LayoutCtrl'>

      <!-- ViewCtrl implemented in snapshot.js -->
        <div id='snapshot_view'>
          <div id='snapshot_ctrl'>
            <!--Anthony's  -->
            <div> <h1> Create an Account </h1> </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="well">
                  <%= styled_flash %>
                </div>

                <div class="well">
                  <form action="/users" method="post">
                    Email:<br>
                    <input type="text" name="email" class="email">
                    <br>
                    Password:<br>
                    <input type="password" name="password_digest" class="password">
                    <br>
                    Name:<br>
                    <input type="text" name="name" class="name">
                    <br>


                  <div id='title'>

                   <div id='snapshot_button_div' class='centered'>
                   <input type="submit" class="button" value="Create">
                   </div>
                 </div>

                 </form>
               </div>
              </div>
              <div class="col-md-12"><div id='snapshot_div'>
                <!-- snapshot_buttons -->

              </div></div>



            <!-- Should probably set a height for this and adjust the rest -->

          </div>
        </div>
      </div>

    </div> <!-- End of LayoutCtrl-->
  </body>

</html>
