<script src="/js/slideshow/slideshow.js"></script>
<link rel="stylesheet" type="text/css" href="/css/slideshow.css">
<div ng-controller="SlideshowCtrl" id='slideshow_ctrl'>
    <div class="slider">
        <!-- track by $index prevents flickering when the images are updated -->
        <div class="slide" ng-repeat="collage in collages track by $index" ng-show="collage.visible">
            <img ng-src="/{{collage.source}}?{{date}}" />
        </div>
    </div>
</div>
