<div ng-controller="SnapshotCtrl" id='snapshot_ctrl'>

    <!-- Should probably set a height for this and adjust the rest -->
    <div id='snapshot_div'>
        <!-- <canvas id="c" width = "640px" height = "480px"></canvas> -->

        <!-- Placeholder Image -->
        <div id='camera_placeholder' class='centered' ng-hide='camera_loaded'>
            <img id='cam_icon' src='images/img/camera_placeholder.png' ng-click='get_tos()'>
        </div>

        <!-- Terms of Service -->
        <div id="tos" class="centered" ng-show='show_tos'>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque et qui id quidem sunt temporibus ullam laboriosam molestias iusto fugiat, amet quam provident nostrum sapiente facere consectetur nobis. Recusandae, sed?</div>
            <div>Earum quasi atque magnam nemo saepe ducimus eos vero quo, dignissimos dolores dolore ipsum! Veritatis ipsum provident voluptatum, ipsa impedit quos reiciendis? Aut ab, aspernatur, quia aperiam provident iusto sed.</div>
            <div>Molestiae impedit suscipit expedita iusto nihil distinctio aliquam, facere debitis! Commodi amet cupiditate doloribus voluptate atque labore, earum. Rerum consectetur facilis impedit rem totam nostrum perferendis sunt veniam amet perspiciatis!</div>
            <div>Impedit facere exercitationem voluptates quis! Eligendi harum nesciunt eveniet omnis eius reiciendis iusto ipsum quasi distinctio, vel aliquam ipsa assumenda debitis modi voluptatibus facere doloremque saepe illo excepturi libero amet?</div>
            <div>Magnam, fuga temporibus omnis optio consequuntur voluptatem ipsa culpa eveniet ipsum odio laboriosam at odit ipsam reiciendis porro sequi sit maiores libero nisi quod accusantium, tempora nesciunt itaque. Dolores, vel?</div>
            <div class="accept_buttons">
                <input type="button" class="button" id='disagree' ng-click='startover()' value="Disagree">
                <input type="button" class="button" ng-click='get_camera()' value="Agree">
            </div>
        </div>

        <!-- Webcam Input -->
        <div id='camera' ng-show='show_camera && camera_loaded' class='centered'>
            <video autoplay id='video'></video>
            <canvas id='cam_canvas' width = "640px" height = "480px"></canvas>
        </div>

        <!-- KineticJS Stage -->
        <div id='capture' ng-show='show_capture' class='centered'>
            <div id="snapshot_container" ng-show='show_capture' class='index_container' data-toggle="popover" title="Select Your Face" 
                data-content="Drag the box to frame your face, then press select." data-placement='left' data-trigger='manual'>
            </div>
        </div>

        <div id="check" ng-show='check_face' class='centered'>
            <!-- This line causes this warning: "Resource interpreted as Image but transferred with MIME type text/html:"
                  This is because Angular attempts to resolve this immediately, but $scope.selfie doesn't get a value until after
                  an image has been cropped. TODO: See if Angular can delay resolution of ng-src until after it exists.
                  Note: An attempt to set $scope.selfie to '#' or something similar makes no difference. -->
            <img class='centered check_image' ng-src="/{{selfie}}" add-drag/>
            <div class="accept_buttons">
                <input type="button" class="button" ng-click = 'redo()' value = "Redo">
                <input type="button" class="button" ng-click = 'keep()' value = "Keep">
            </div>
        </div>

        <!-- snapshot_buttons -->
        <div id='snapshot_button_div' class='centered' ng-show='show_buttons'>
            <input type="button" class="button" ng-click='get_tos()' value="START" ng-show='snapshot_button.start'>
            <input type="button" class="button" ng-click='capture()' value="SNAP IT" id='snap_it' ng-show='snapshot_button.snap_it'
                data-content="Make sure to allow access to your webcam!" data-placement='top' data-trigger='manual'
                disabled="disabled">
            <input type="button" class="button" ng-click='upload_webcam()' value='SELECT' id='select' ng-show='snapshot_button.cut' 
                ng-disabled="cutDisabled">
        </div>

    </div> <!-- snapshot_div -->

    <!-- Loading overlay -->
    <div ng-show='loading' class='loader'>
        <span class="loader_helper"></span>
        <img src='images/img/loader.gif' class='loader_img'>
    </div>
</div> <!-- Snapshot Controller -->