<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/feed.css">

<div class="feed">
  <h1 style="text-align: center;">Stickers</h1>
  <span>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>

  </span>
  <span>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
      <div class="post"><img class="img" src="images/code.jpg" alt="asdf"></div>
  </span>
</div>
