<link rel="stylesheet" href="/css/index.css">

<div id='snapshot_div'>
  <div id="tos" class="centered" ng-show='true'>
    <h1> <center> <b> Terms and Conditions </b> <center> </h1>
    <font size="5" color="red"><div> <b></b></font>

  <b>Please read these Terms and Conditions carefully before using the PIC Your Future website and an app operated by PIC Your Future.</b>
 <br></br>
  Your access to and use of the Service is conditioned on your acceptance of the compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
  </div>
    <div>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

  Termination clause for websites that do not have accounts. If you website or mobile app allows users to register and have an account, create your own Terms and Conditions.

  </div>
                  <div><b>Termination:</b>
  We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  </div>
                  <div><b>By accepting the terms of use of the PIC Your Future App, users agree to:</b>
  </div>
                  <div>Post on any content which may violate any law or which may be against the public policy or which may infringe privacy rights of any person.
  Post any personal information of any kind, including such your email address, phone number, social security number, or personal health information.
  Post content that violates the intellectual property rights of any party.
  Post false or defamatory statements about any individual, community, company or organization or any other entity.
  All users must be 13 years or older. <b>Do you agree to these terms?</b>
  </div>
    <div class="accept_buttons">

      <input type="button" class="button" ng-click='get_career()' value="Agree">
    </div>
  </div>

</div>
