/*---------------CSS corresponding to any and ALL HTML found in index.erb---------------*/

#snapshot_div{
    padding: 50px;
    background-image: none;
    background-position: 90% 30%;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#camera, #camera_placeholder, #capture, #check{
    width:640px;
    height:480px;
    padding-top: 3em;
}

#cam_icon{
    width: 100%;
    height: auto;
}

#capture{
    position:relative;
}
.centered{
    margin-right: auto;
    margin-left: auto;
}
.check_image{
    display: block;
}
#retake_div{
    position:absolute;
    bottom:0;
    right:0;
}

#retake_img{
    width:100px;
    height:75px;
}

#snapshot_button_div{
    width:100px;
    height:40px;
    padding-top: 4em;
    padding-bottom: 2em;
}

#snapshot_title_div{
    width:300px;
    height:100px;
}

#cam_canvas{
    display:none;
    width: 640px;
    height: 480px; 
}

#tos{
    background: white;
    -webkit-box-shadow: 0 0 8px #bbb;
    box-shadow: 0 0 8px #bbb;
    margin-top: 1.5%;
    padding: 3% 12%;
    width: 75%;
}
#disagree{
    background-color: #BB3B3B;
}
#disagree:hover{
    background-color: #CF072D;
}

.accept_buttons{
    margin-top: 15%;
    text-align: center;
}

.accept_buttons>input:first-child{
    margin-right: 100px;
}

#face_select_blurb{
    width: 15%;
    float: left;
    margin-top: -25%;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}