/*---------------CSS corresponding to any and ALL HTML found in index.erb---------------*/

#snapshot_div{
    padding: 50px;
    background-image: none;
    background-position: 90% 30%;
    background-repeat: no-repeat;
}

.up_arrow{
    display: none;
    top: 10px;
    position: absolute;
    right: 2.4%;
    font-size: 100px;
    z-index: 1500;
    color: #9E3131;
}

#camera, #camera_placeholder, #capture, #check{
    width:640px;
    height:480px;
    padding-top: 3em;
}

#cam_icon{
    width: 100%;
    height: auto;
}

#capture{
    position:relative;
}
.centered{
    margin-right: auto;
    margin-left: auto;
}
.check_image{
    display: block;
}
#retake_div{
    position:absolute;
    bottom:0;
    right:0;
}

#retake_img{
    width:100px;
    height:75px;
}

#snapshot_button_div{
    padding-bottom: 2em;
    height: 40px;
    padding-top: 4em;
    margin: auto;
    display: block;
}
#snapshot_title_div{
    width: 300px;
    height:100px;
}

#cam_canvas{
    display:none;
    width: 640px;
    height: 480px; 
}

#tos{
    background: white;
    -webkit-box-shadow: 0 0 8px #bbb;
    box-shadow: 0 0 8px #bbb;
    margin-top: 1.5%;
    width: 75%;
    padding: 3% 12%;
}
.accept_buttons{
    text-align: center;
}

.accept_buttons input:first-child{
    margin-right: 100px;
}


#face_select_blurb{
    width: 15%;
    float: left;
    margin-top: -25%;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#snapshot_button_div>input.button{
    margin: auto;
    display: block;
}
#tos div:last-child{
    padding-top: 10%;
}

@media (min-width: 1281px) { 

    #camera_placeholder{
        width: 1000px;
        padding-top: 0;
    }

   #snapshot_div{
        margin-top: 5%;
        background-position: 95% 30%;
    }

   #tos {
        margin-top: 0;
        padding: 3% 8%;
        font-size: 28px;
    }

    #snapshot_button_div{
        padding-bottom: 0;
        padding-top: 22em;
    }
    #snapshot_button_div>input.button, .accept_buttons>input.button{
        height: 70px;
        font-size: 25px;
        border-radius: 7px;
        min-width: 170px;
    }

    .popover-content{
        font-size: 22px;
    }
    #popover.top {
    top: 526px;
    left: 825px;
    display:block;
    }

}

