/*---------------CSS corresponding to any and ALL HTML found in index.erb---------------*/

#snapshot_div{
    padding: 50px;
}

#camera, #camera_placeholder, #capture{
    width:640px;
    height:480px;
    padding-top: 3em;
}
#cam_icon{
    width: 100%;
    height: auto;
}

#capture{
    position:relative;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
#retake_div{
    position:absolute;
    bottom:0;
    right:0;
}

#retake_img{
    width:100px;
    height:75px;
}

#snapshot_button_div{
    width:100px;
    height:40px;
    padding-top: 4em;
    padding-bottom: 2em;
}

#snapshot_title_div{
    width:300px;
    height:100px;
}

#cam_canvas{
    display:none;
    width: 640px;
    height: 480px; 
}