/*----------------------------------------------------------------------------------------------
THIS CSS FILE SHOULD ONLY BE USED FOR GLOBAL CSS
I.E. ANY STYLING THAT SHOULD BE CONSISTENT ACROSS ALL PAGES
(E.G. BUTTON STYLING)

ELEMENTS, SUCH AS THE NAVBAR, HAVE THEIR HTML IN LAYOUT,
SO SHOULD BE STYLED IN LAYOUT.CSS

IF YOU'RE UNSURE, PLACE IT IN THE CORRESPONDING CSS FILE TO 
THE HTML/ERB FILE. 
----------------------------------------------------------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    zoom: 1;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #E8E8E7; 
    min-width: 55em;
    margin:0;
    padding:0;
}

img{border:0; padding:0; margin:0;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart {list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl{float:left; margin:0 8px 8px 0; border:1px solid #000000; padding:5px; color:#FFFFFF; background-color:#999999; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; border:1px solid #000000; padding:5px; color:#FFFFFF; background-color:#999999; clear:right;}

.mainTitle{
    color:#F5F5EB;
}

.instructions{
    padding-top: 0;
    padding-left: 20px;
    display:block;
    position:absolute;
    text-align:center;
    color: #7BAB96;
    float: left;
}

/*------- Not sure what this stuff is for so I'm leaving it here for now -------*/
table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}

.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}

.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}

/*---------Dark blue button ----------*/

.button {
    background-color: #242941;
    text-indent: 0;
    border: none;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-transform:uppercase;
    cursor: pointer;
}

.button:hover {
        background-color:rgba(36, 41, 65, 0.89);
}

/* main.css
// 11/27/2013 by Hiro Kai
*/


/* Setting minimum size of the entire content so that a horizontal scroll bar appears when the window is small. */

.outside {
    min-width: 1050px;
    position: relative;
}

/*
// Wrapping container that has toolbox and content
*/

#framecontainer {
  margin-top: 6em;
  height: 39em;
}

/*
//Content frame on the right side
*/

#container {
    height: 100%;
    background: white;
    box-shadow: 0 8px 5.6px rgba(119,116,117,0.6);

}
.index_container{
    position:absolute;
}

#warning{
    background-color: black;
    opacity: 0.5;
}

.toleft{
    float: left;
}

ul{
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


/*  --------------------------------------------- Loading Overlay  ---------------------------------------------*/
.loader{
    height: 120%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    margin: 1em 0;
    display: inline-block;
}

.loader_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.loader_img {
    width: 128px;
    height: 128px;
    margin: auto;
    vertical-align: middle;
}