/*---------------CSS corresponding to any and ALL HTML found in scenario.erb---------------*/

/* css originally by Hiro Kai on 11/27/2013 */

.sticker{
  width: 25%;
  height: 25%;
  transition: background 0.15s linear;
}

.sticker:hover{
  background:rgba(36,41,65,0.1);
  border-radius: 5px;
  border: solid;
  border-width: 2px;  
  border-color: transparent;
}

.selfie{
  width: 50%;
  height: 50%;
  margin-left: 25%
  margin-right: auto;
}

#another_selfie_button{
  width: 200px;
  margin: 20px;
  margin-left: 55px;
  text-transform: capitalize;
  font-size: 14px;
}

.background, .frames{
  width: 50%;
  height: 50%;
  border: solid;
  border-width: 0.2em;
  border-color: rgb(232, 232, 231);
  cursor: pointer;
}

/* This allows scrollbars to always be shown on macs */
::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.5em;
    background-color: #d3d3d3;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*--------------------------------------------Title--------------------------------------------*/
.title{
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 25%;
  margin-left: 50%;
}

.title_text{
  text-align: center;
  height: 3em;
  border-radius: 0.3em;
  border: solid 1px #242941;
  padding-left: 1em;
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px #ccc;
  box-shadow: 1px 1px 2px #ccc;
}

/*---------------------------------------------Tool box and Tabs--------------------------------------------*/
.tabs{
  cursor: pointer;
}

.tab{
  float: left;
  width: 25%;
}

#toolbox {
  background: #e8e8e7;
  box-shadow: 0 8px 5.6px rgba(119,116,117,0.6);
  height: 39em;
  margin-left: 4%;
  width:25%;
  float: left;
  border: solid 1px #242941;
}

#toolicon{
  list-style-type:none;
}

#toolicon li {
  height: 4em;
  background: white;
  padding: 0;
  transition: background-color 0.1s linear;
}

#toolicon li img {
  height: 75%;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#toolicon li.active {
  background: #eeeeee;
}

#toolicon li.active a {
  background: #e8e8e7;
}

#toolicon li:hover {
  background-color: #d8d8d8;
}

#toolicon li .fa{
  font-size: 35px;
  display: block;
  text-align: center;
  position: relative;
  /*vertical align*/
  top: 50%;
  transform: translateY(-50%);
}

#add_selfie{
  width: 100%;
  margin: 1em 0;
  padding: 0 25%;
}


/*--------------------------------------------- Accordian Tabs --------------------------------------------- */

#faces{
  cursor: default;
  margin-bottom: 2%;
}
#faces:hover{
  background-color:#242941; 
}

.subtab_title{
  text-align: center;
  font-size: large;
  font-family: Arial;
  width:100%;
  height:40px;
  background-color:#242941; 
  color:white;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 0.4em;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.subtab_title:hover {
  background-color:rgba(36, 41, 65, 0.93);
}

/*--------------------------------------------- Body of tool box--------------------------------------------- */

#toolboxbody {
  background: #eeeeee;
  height: 35em;
  overflow-y: scroll;
  clear: both;
}

.toolbox_text{
  text-align: center;
  cursor: default;
  color: black;
  font-weight: 100;
  font-size: 2em;
  margin: 5%;
}


/* ---------------------------------------------Content frame on the right side---------------------------------------------*/

#container {
  background: white;
  box-shadow: 0 8px 5.6px rgba(119,116,117,0.6);
  width: 800px; 
  height:550px;
  border: solid 1px #242941;
}


#scenario_canvas{
  float: left;
  margin-left: 4em;
}


/*--------------------------------------------- Email div ---------------------------------------------*/

#email_div{
  margin-bottom: 0.55em;
  padding-top: 1.4em;
}
#email{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#scenario_ctrl{
  margin-top: -2em;
  min-height: 45em;
  height: 100%;
  padding-bottom: 10%;
}

/*---------------------------------------------Confirmation dialogs ---------------------------------------------*/
.ui-dialog, .email-dialog {
  width: 400px;
  height: 250px;
  border: 4px #030303 solid;
  background-color: #ffffff;
  padding: 17px;
  color: #000000;
  font-size: inherit;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.ui-dialog-content{
  text-align: center;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-button {
    background-color: #242941;
    text-indent: 0;
    border: none;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    margin-left:10px;
    margin-right:10px;
}

.ui-button:hover {
    background-color:rgba(36, 41, 65, 0.89);
}

.ui-dialog-titlebar{
  text-align: center;
}

#dialog-text{
  text-align: center;
}

.ui-dialog-buttonset{
  text-align: center;
}

.loader_scenario{
  margin-top: -1%;
}

/*--------------------------------------------- Color Picker ---------------------------------------------*/
.simplecolorpicker.icon{
  border:solid;
  border-color:#222;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  border-width: 1px;
}

#modal{
  z-index: 1000;
  position:absolute;
  top:0;
  left:0;
}

/*--------------------------------------------- Modal ---------------------------------------------*/
/*These are from bootstrap, but for our customisation didn't style the button */
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.modal-dialog{
  width: 50%;
  margin-top: 15%;
}
.modal-content{
  background-color: rgba(248, 248, 248, 0.94);
}
.modal-title{
  text-align: center;
}
.modal-body{
  font-size: 1.3em;
  line-height: 2em;
}
.modal-backdrop.in {
  opacity: .35;
  filter: alpha(opacity=50);
}