
.sticker{
  width: 80px;
  height: 80px;
}

 #selfie{
  width:155px;
  height:155px;
 }

.background, .frames{
  width: 155px;
  height: 155px;
}
/* main.css
// 11/27/2013 by Hiro Kai
*/


/* Setting minimum size of the entire content so that a horizontal scroll bar appears when the window is small. */

.outside {
  min-width: 1050px;
}

/*
 * Navbar on top
 */

img.navbaricon {
  margin: 0px;
}

.navbar p {
  display: inline;
}

p.nav-adjust-right {
  float: right;
}

p.signout {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 30px;
  margin: 55px 0px 0px 0px;
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
}

/*
// Wrapping container that has toolbox and content
*/

#framecontainer {
  margin-top: 6em;
  height: 39em;
}


/*
//Tool box
*/

/* Tool box tabs */

#toolbox {
  background: #e8e8e7;
  box-shadow: 0px 8px 5.6px rgba(119,116,117,0.6);
  height: 39em;
  margin-right: 3em;
  margin-left: 4em;
  padding: 0px;
}

#toolicon li {
  width: 25%;
  height: 60px;
  background: white;
  padding: 0px;
}

#toolicon li a {
  height: 100%;
  margin: 0px;
  padding: 8px;
  background: white;
}

#toolicon li img {
  height: 40px;
  margin: 10px 19px;
}

#toolicon li.active {
  background: #e8e8e7;
}

#toolicon li.active a {
  background: #e8e8e7;
}

#toolicon li:hover {
/* background: lightblue;*/
}

#toolicon li:hover a {
/*  background: lightblue; */
}


/* Body of tool box */

#toolboxbody {
  background: #e8e8e7;
  height: 34em;
  overflow-y: scroll;
}

/*
//Content frame on the right side
*/

#container {
  height: 100%;
  background: white;
  box-shadow: 0px 8px 5.6px rgba(119,116,117,0.6);
}


.kineticjs-content{
}

.subtab_title{
  text-align: center;
  font-size: large;
  width:100%;
  height:40px;
  background-color:#242941; 
  color:white;
  border: solid;
  border-width: 1px;
  border-color: 'gold';
}

#save_div, #email_div{
  margin-bottom: 0.55em;
  float:left; 
  margin-right:2em; 
  padding-top: 0.7em;
}
#save_div{
    padding-left:6.2em; 
    padding-right:2em;
}
#scenario_ctrl{
  margin-top: -20px;
  padding-bottom: 20px;
}

.ui-dialog.email-dialog {
  /*
  text-align: center;
  font-size: large;
  */
  /*background-color:#e8e8e7; */
  /*color:white;*/
/*  border: solid;
  border-width: 1px;
  border-color: 'gold';*/

  width: 400px;
height: 250px;

border: 4px #030303 solid;

background-color: #ffffff;

padding: 17px;

color: #000000;
font-size: inherit;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}

/* Buttons for JQuery UI dialog*/
.ui-button{
  /* Style */
   border-top: 1px solid #242941;
   background: #242941; 
   background: -webkit-gradient(linear, left top, left bottom, from(#242941), to(#242941));
   background: -webkit-linear-gradient(top, #242941, #242941);
   background: -moz-linear-gradient(top, #242941, #242941);
   background: -ms-linear-gradient(top, #242941, #242941);
   background: -o-linear-gradient(top, #242941, #024194);
   padding: 7.5px 15px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   /* Position */
   margin-left:10px;
   margin-right:10px;
   }
.ui-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.ui-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
}

.ui-dialog{
  text-align: center;
}

.ui-dialog-buttonset{
  text-align: center;
}
