.tabs a{
  cursor: pointer;
  padding: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #666;
}
.tabs a:hover, .tabs a.active{
  background: #666;
  color: #fff;
}

.tabContent{
  border: 1px solid #666;
  margin: 5px 0;
  padding: 5px;
  width: 244px;
  height: 613px;
  overflow: auto;
}

.sticker, #selfie{
  width: 120px;
  height: 120px;
}

.background{
  width: 120px;
  height: 120px;
}

#scenario{
  border: 1px solid #666;
  position: absolute;
  top:2px;
  left: 300px;
  background-size: 950px 650px;
  width: 950px;
  height: 650px;
}

div.kineticjs-content canvas {
height: 650px !important; /* this is really bad, but I don't know how else to prevent kJS from clipping the canvas it auto creates*/
width: 950px !important; /* look at HTML if confused */
}

