#snapshot_div{
    padding: 50px;
    background-image: none;
    background-position: 90% 30%;
    background-repeat: no-repeat;
}

.centered{
    margin-right: auto;
    margin-left: auto;
}

#tos{
    background: white;
    -webkit-box-shadow: 0 0 8px #bbb;
    box-shadow: 0 0 8px #bbb;
    margin-top: 1.5%;
    width: 75%;
    padding: 3% 12%;
    margin-top: 0;
   	padding: 3% 8%;
    font-size: 22px;
}
