
<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
  <head>
      <title>P.I.C. Your Future</title>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/PictureYourself.css"/>
      <link rel="stylesheet" type="text/css" href="css/layout.css"/>
      <link rel="stylesheet" href="css/libraries/animate.min.css">
      <link rel="stylesheet" href="css/index.css">

      <link rel="stylesheet" type="text/css" href="css/landing.css"/>
  </head>

  <body>
    <div id="compatibility"></div>
    <div ng-controller='LayoutCtrl'>
      <div class="outside">
        <nav class="navbar" role="navigation">

          <div class="navleft">
            <img class='navbariconleft' alt='Home' src='images/img/new_home.png'>
          </div>

          <div class="navtitle">P.I.C. YOUR FUTURE</div>

          <div id="navright">
            <div class="quit_div" ng-show='show_quit'>
              <input type='button' id='quit' class='button' ng-click='quit()' value = "QUIT">
            </div>
          </div>
        </nav>
      </div>


      <!-- ViewCtrl implemented in snapshot.js -->
      <div ng-controller="ViewCtrl">
        <div id='snapshot_view'>
          <div id='snapshot_ctrl'>

            <!-- Should probably set a height for this and adjust the rest -->
            <div id='snapshot_div'>
              <!-- Starting Image -->
              <div id='camera_placeholder' class='centered' ng-hide='camera_loaded'>
                <img id='cam_icon' src='images/img/camera_placeholder.png' ng-click='get_tos()'>
              </div>

              <!-- snapshot_buttons -->
              <div id='snapshot_button_div' class='centered'>
                <input type="button" class="button" value="START" ng-show='snapshot_button.start'>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- End of LayoutCtrl-->
  </body>

</html>
