
<!-- Template that gets loaded on every page. Currently just the navigation bar -->
<!DOCTYPE html>
<html ng-app='PictureYourselfApp' no-js>
  <head>
      <title>P.I.C. Your Future</title>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Vesper+Libre:900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="css/libraries/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/PictureYourself.css"/>
      <link rel="stylesheet" type="text/css" href="css/layout.css"/>
  </head>

  <body>
    <div id="compatibility"></div>
    <div ng-controller='LayoutCtrl'>
      <div class="outside">
        <nav class="navbar" role="navigation">

          <div class="navleft">
              <img class='navbariconleft' alt='Home' src='images/img/new_home.png'>
          </div>
          <!-- <a class="navbar-link"><img class='navbariconleft' alt='Picture Yourself Logo' src='/images/img/new_logo.png'></a> -->
          <div class="navtitle">P.I.C. YOUR FUTURE</div>

          <div id="navright">
              <div class="quit_div" ng-show='show_quit'>
                  <input type='button' id='quit' class='button' ng-click='quit()' value = "QUIT">
              </div>
          </div> <!--navright-->
        </nav>
      </div> <!--outside-->

      <link rel="stylesheet" href="css/libraries/animate.min.css">

      <link rel="stylesheet" href="css/index.css">

      <!-- ViewCtrl implemented in snapshot.js -->
      <div ng-controller="ViewCtrl">
        <div ng-show='views.snapshot' id='snapshot_view'>
          <div ng-controller="SnapshotCtrl" id='snapshot_ctrl'>

            <!-- Should probably set a height for this and adjust the rest -->
            <div id='snapshot_div'>

              <!-- Terms of Service -->
              <div id="tos" class="centered" ng-show='show_tos'>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque et qui id quidem sunt temporibus ullam laboriosam molestias iusto fugiat, amet quam provident nostrum sapiente facere consectetur nobis. Recusandae, sed?</div>
                <div>Earum quasi atque magnam nemo saepe ducimus eos vero quo, dignissimos dolores dolore ipsum! Veritatis ipsum provident voluptatum, ipsa impedit quos reiciendis? Aut ab, aspernatur, quia aperiam provident iusto sed.</div>
                <div>Molestiae impedit suscipit expedita iusto nihil distinctio aliquam, facere debitis! Commodi amet cupiditate doloribus voluptate atque labore, earum. Rerum consectetur facilis impedit rem totam nostrum perferendis sunt veniam amet perspiciatis!</div>
                <div>Impedit facere exercitationem voluptates quis! Eligendi harum nesciunt eveniet omnis eius reiciendis iusto ipsum quasi distinctio, vel aliquam ipsa assumenda debitis modi voluptatibus facere doloremque saepe illo excepturi libero amet?</div>
                <div>Magnam, fuga temporibus omnis optio consequuntur voluptatem ipsa culpa eveniet ipsum odio laboriosam at odit ipsam reiciendis porro sequi sit maiores libero nisi quod accusantium, tempora nesciunt itaque. Dolores, vel?</div>
                <div class="accept_buttons">
                    <input type="button" class="button" id='disagree' ng-click='startover()' value="Disagree">
                    <input type="button" class="button" ng-click='get_camera()' value="Agree">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div> <!-- End of LayoutCtrl-->
  </body>

</html>
